$icomoon-font-path: "fonts" !default;

$spk-icon-warning: "\e900";
$spk-icon-arrow-left: "\e901";
$spk-icon-arrow-right: "\e902";
$spk-icon-view: "\e903";
$spk-icon-heart-full: "\e904";
$spk-icon-heart: "\e905";
$spk-icon-cart-shopkeeper: "\e908";
$spk-icon-noun_150444: "\e906";
$spk-icon-search: "\e907";

